<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester</string>
		<string>/Users/siddhantdanger/Dropbox/Homester/Homester</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-04-07T18:35:52Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester/variances</string>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester/feat.params</string>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester/means</string>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester/mdef</string>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester/transition_matrices</string>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester/sendump</string>
		<string>/Users/siddhantdanger/Projects/App Stuff/watch4me/Homester/noisedict</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
